<h1>OWNER REGISTRATION PAGE</h1>

<%= form_for Owner.new do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Register" %>
<% end %>