<h1>GET READY TO LOGIIIIIIN!</h1>



<%= form_with(url: "/login", method: "post") do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.text_field :password %>
    <%= f.submit "Login!" %>
<% end %>