<h1><%= @post.title %></h1><br>
<p><%= @post.content %></p>
<%= @post.rent %><br>
<%= @post.rooms_in_house %><br>
<%= @post.size %><br>
<%= @post.private_bathroom %><br>
<%= @post.private_entrance %><br>
<%= @post.cats %><br>
<%= @post.dogs %><br>
<%= @post.pet_rent %><br>
<%= @post.tenants %><br>
<%= @post.gender_preference %><br>
<%= @post.image1 %><br>
<%= @post.image2 %><br>
<%= @post.image3 %><br>
<%= @post.image4 %><br>
<%= @post.image5 %><br>
<%= @post.image6 %><br>
<%= @post.image7 %><br>
<%= @post.image8 %><br>
<%= @post.image9 %><br>
<%= @post.image10 %><br>
<%= @post.image11 %><br>
<%= @post.image12 %><br>
<%= @post.image13 %><br>
<%= @post.image14 %><br>
<%= @post.image15 %><br>